<header>
  <div class="navbar">
    <nav>
      <a href="/user/user_data" class="navbutton">Home</a>
      <a href="/blogpost/blogpost_data" class="navbutton">Blogposts</a>
      <a href="/blogpost/blogposts_new" class="navbutton">Create</a>
      <a href="/blogpost/blogposts_edit" class="navbutton">Edit</a>
      <a href="/comments/user_comments" class="navbutton">Comments</a>
      <a href="/login/logout" class="navbutton">Logout</a>
    </nav>
  </div>
</header>
