<!DOCTYPE html>
<html>
  <head>
    <title>EJS Template</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body class="signupBody">
    <h1 class="bloglounge">Welcome to The Blog Lounge</h1>
    <div class="signupFormContainer">
      <form action="/login/login_user" method="post">
        <h1 class="signupHeader">Login</h1>
        <br /><br />
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" /><br />
        <br /><input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
